<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <H2>Lista linków</H2>
<ul>
    <li>
        <a href="/power?number=45">Potęgowanie bez widoku</a>
    </li>
    <li>
        <a href="/power-form">Potęgowanie z widokiem</a>
    </li>
    <li>
        <a href="/book/add">Dodaj książkę</a>
    </li>
    <li>
        <a href="/book/list">Lista książek</a>
    </li>
    <li>
        <a href="/car/add">Dodaj samochód</a>
    </li>
    <li>
        <a href="/book/vote">Oddaj głos na książkę</a>
    </li>
    <li>
        <a href="/logout">wyloguj</a>
    </li>
</ul>
</body>
</html>